.Displaytodo{
    .filter-btns{
        display: flex;
        justify-content: center;
        .btn{
            margin: 10px 100px;
            border: none;
            background-color: #2f2d2e;
            color: white;
            padding: 10px;
            &:hover{
                background-color: #2f2d2e81;
            }

        }
        
    }
    .Todo{
        margin: 10px 0;
    }
}