.Addtodo{
    .container-fluid{
        max-width: 800px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        .todo-input{
            margin: 10px 0;
            width: 50%;
            border: none;
            border-bottom: 2px solid #2f2d2e;
            padding: 5px;
        }
        .btn_addtodo{
            width: 30%;
            margin: 15px 0;
            border: none;
            background-color: #3fc2ba;
            color: white;
            padding: 10px;
            border-radius: 20px;
            &:hover{
                background-color: #74cac48f;
            }
        }
    }
}