.selected{
    background-color: #2f2d2e81 !important;
}

.task-wrapper{
    width: 30%;
    background-color: #3fc2ba;
    color: white;
    font-weight: bold;
    overflow: auto;
    margin: 0 auto;
    .task{
        display: flex;
        justify-content: space-around;
        align-items: center;
        .icons-wrapper{
            display: flex;
            font-size: 24px;
            width: 20%;
            justify-content: space-between;
            .icon{
                width: 20px;
                height: 20px;
            }
            .icon_edit{
                display: none;
            }
        }
      
    }
    
    
}
.Edit-wrapper{
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.btn_edit{
        width: 5%;
        margin: 15px 5px;
        border: none;
        background-color: #3fc2ba;
        color: white;
        padding: 3px;
        border-radius: 20px;
        &:hover{
            background-color: #74cac48f;
        }
}